<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Bulls</title>
</head>
<body>
<form action="/" method="post">
    {% csrf_token %}

    Enter numbers splitted by space: <input type="text" name="numbers"/><br>
    <div class="input-group">
        <input type="submit" value="Guess!!!">
    </div>
</form>
<br>
{% if result is not None %}
    {% if result == 'success' %}
        Result : {{ message }}
    {% else %}
        Error : {{ message }}
    {% endif %}
{% endif %}

<br>
<br>
<br>
<a href="/history">History</a>
</body>
</html>